@keyframes right-bounce {
    0% {
        transform:translateX(0);
    }

    50% {
        transform:translateX(1em);
    }
}

.multi .slide {
    cursor:pointer;
}

.slide {
    display:flex;
}

.slide img {
    flex:0 auto;
}

.trad-code {
    position:relative;
}

.trad-code #slides {
    margin-top:1.5em;
    background:#f7f7f7;
    border:1px solid #ccc;
}

.trad-code .slide img {
    max-width:100%;
}

.trad-code .slide {
    justify-content:center;
    align-items:flex-end;
}

.trad-code .slide img {
    object-fit:cover;
}

.trad-code .slide::before {
    text-align:left;
    content:"● ● ●";
    font-size:0.75em;
    padding:0.3em 0.6em;
    position:absolute;
    top:0;
    z-index:999;
    background:#f7f7f7;
    margin-top:calc(-2em - 2px);
    width:calc(100% - 1.2em - 2px);
    border:1px solid #ccc;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.trad {
    background:#fff;
}

.trad .slide {
    justify-content:center;
    align-items:flex-end;
}

.trad .slide img {
    object-fit:cover;
}

.trad-tp {
    width:100%;
}

.trad-tp .slide {
    width:100%;
}

.trad-tp .slide img {
    width:100%;
}

.hide {
    display:none;
}

.show {
    display:block;
}

@keyframes fade-in {
    0% {
        opacity:0;
    }
    100% {
        opacity:100%;
    }
}

@media only screen and (max-width: 900px) {
    .bg-trad {
        padding:0!important;
    }
    .slide {
        background:none;
        max-height:100%!important;
        height:auto!important;
        align-items:none!important;
        justify-content:none!important;
    }

  }