#cards {
    /* overflow:scroll;
    position:fixed;
    height:100vh; */
    z-index:-1;
    transition:0.5s;
}

/* #cards:first-child {
    width:100%;
    padding-right:calc(50% + 2.5em);
} */

#cards .card-container {
    padding:1.5em 1.5em;
    border-bottom:1px solid #ccc;
}

.card-meta .tags {
    margin-right:1em;
    padding-bottom:1.5em;
}

.card-meta .links a {
    margin-right:1em;
}

#cards .card-container:last-child {
    border-bottom:0;
} 

.single #slideshow, .single-7 #slideshow {
    /* margin:0 auto; */
}

.single #slideshow {
    width:60%;
}

.single-7 #slideshow {
    width:40%;
}

.pair-5-5 {
    vertical-align:top;
    display:inline-block;
}

.pair-5-5 {
    width:30%;
}

.card-content, .card-meta {
    font-size:0.9em;
}

.tags, .links {
    display:inline-block;
}

.card-meta .tags {
    font-size:0.9em;
    width:55%;
    margin-left:1em;
}

.card-meta .links {
    vertical-align:top;
}

.card-info {
    width:70%;
}

.card-info .card-desc {
    margin:1em 0em;
}

.card-content .year, .card-content .title {
    padding-right:1em;
    margin-right:1em;
}

.see-all-3 #slideshow, .see-all-2 #slideshow, .see-all-5 #slideshow {
    width:100%;
}

.see-all-2 #slideshow .slide,
.see-all-3 #slideshow .slide ,
.see-all-5 #slideshow .slide {
    margin-bottom:0.1em;
}

.see-all-3 #slideshow .slide {
    vertical-align:top;
    margin-right:0.1em;
    width:calc(33.333% - 0.3em);
    display:inline-block;
}

.see-all-2 #slideshow .slide {
    vertical-align:top;
    margin-right:0.1em;
    width:calc(25% - 0.4em);
    display:inline-block;
}

.see-all-5 #slideshow .slide {
    vertical-align:top;
    margin-right:0.1em;
    width:calc(50% - 0.2em);
    display:inline-block;
}

@media only screen and (max-width: 1000px) {
    #slideshow {
        width:calc(100% - 0em)!important;
    }

    .see-all-2 #slideshow,.see-all-5 #slideshow, .see-all-3 #slideshow {
        width:calc(100% - 0em)!important;
    }

    .card-info {
        float:none;
        width:100%;
        margin-top:0;
    }

    .single-7 #slideshow {
        margin-left:0;
    }
  }