@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&family=Public+Sans&family=IBM+Plex+Mono:wght@300&display=swap');
 
* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body {
  font-family:"Helvetica Neue", monospace;
  font-weight:400;
  line-height:170%;
  color:#777;
  font-size:calc(9px + 1vmin);
  cursor:crosshair;
}

.ascii-art {
  white-space:pre;
  font-size:1em;
  line-height:normal;
  letter-spacing:normal;
  font-family:'Courier New', Courier, monospace;
}

a {
  margin:0;
  padding:0;
  color:rgb(163, 163, 163);
  text-decoration:none;
}

a:hover {
  color:#000;
}

p {
  margin:1em 0em;
}

p:first-child {
  margin-top:0;
}

p:last-child {
  margin-bottom:0;
}

img {
  max-width:100%;
}

h1,h2,h3,h1 a {
  color:black;
}

h1 {
  font-size:1em;
  text-transform:lowercase;
  font-weight:normal;
}

h3 {
  font-size:1.25em;
  line-height:120%;
  font-weight:500;
  margin-top:1.5em;
  font-family:"Pontano Sans";
}

h2 {
  font-size:2em;
  line-height:130%;
  font-weight:400;
}

h4 {
  font-size:1em;
  font-weight: normal;
}

header {
  padding:1.5em 2em 2em 3em;
  position:fixed;
  width:100%;
  z-index:9999;
}

#title, nav {
  display:inline-block;
}

#title code {
  margin-right:0.5em;
}

#title {
  float:left;
  width:39.5%;
}

nav a {
  color:black;
  margin-right:2em;
}

nav a:hover, nav > .active {
  border-bottom:1px solid black;
}

.post-container, article, aside {
  animation:load-in 0.6s linear;
}

#main-arrows {
  opacity:0;
  animation:load-in 0.3s linear forwards 0.7s;
}

#banner {
  margin-top:0em;
  max-height:calc(100vh - 15vh - 4em - 5em);
  margin-left:-0.5em;
}

article {
  padding:1em 0em;
}

#content {
  position:relative;
  padding:3em;
  padding-top:4em;
  width:100%;
}

.dot {
  width:4px;
  height:4px;
  margin-right:1em;
  background:black;
  display:inline-block;
  vertical-align:middle;
}

article a, .links a {
  border-bottom:1px dashed #777;
}

.tags {
  font-family:"IBM Plex Mono", Courier New, Courier, monospace;
}

footer {
	padding:2em 3em;
  margin-top:2em;
  background:#fafafa;
	min-height:15vh;
	clear:both;
}

footer div {
  display:inline-block;
  margin-right:2em;
}

@keyframes load-in {
  0% {
    opacity:0;
    transform:translateY(0.5em);
  }

  100% {
    opacity:1;
    transform:translateY(0);
  }
  
}

@media screen and (max-width: 992px) { 
  #content,header,footer {
    padding-left:1em;
    padding-right:1em;
  }

  .post-column {
    width:100%!important;
  }

  .year, .links, .genre {
    margin-bottom:1em;
    padding-bottom:1em;
    border-bottom:1px solid #eee;
  }
}