@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&family=Anonymous+Pro&family=Padauk&display=swap');
 
* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body {
  font-family:"Padauk", "Helvetica Neue", monospace;
  font-weight:400;
  line-height:120%;
  color:#555;
  cursor:crosshair;
  width:100%;
  font-size:calc(12px + 50%);
}

a {
  margin:0;
  padding:0;
  color:#000;
  text-decoration:none;
}

a:hover {
  color:#000;
}

b {
  font-weight: normal;
  color:#000;
}

p {
  margin:1em 0em;
}

p:first-child {
  margin-top:0;
}

p:last-child {
  margin-bottom:0;
}

img {
  max-width:100%;
}

h1,h2,h3,h1 a {
  color:black;
  font-weight:normal;
}

h1 {
  font-size:1em;
}

h2 {
  font-size:2em;
  line-height:130%;
  font-weight:400;
}

header {
  width:100%;
  color:#000;
  background: #fff;
  z-index:99999;
}

header, footer {
  margin:0em;
  padding:1em 1.5em;
}

header > div {
  z-index:9999;
  display:inline-block;
  vertical-align: top;
  width:50%;
}

#nav-mob a, #nav-reg a {
  margin-right:1em;
}

#nav-mob {
  display: none;
}

#nav-dropdown {
  margin-top:0.5em;
}

#nav-button {
  font-size:1.4em;
}

#desc {
  z-index:999;
}

#desc a {
  margin-right:1em;
}

#title code {
  margin-right:0.5em;
}

.nav-hide {
  display:none;
}

.nav-show {
  display:block;
}

nav a {
  color:black;
  margin-right:5%;
}

.active {
  text-decoration: underline;
}

#cards .card-container, article, #banner, #ascii {
  opacity:0;
  animation:load-in 0.3s linear forwards 0.5s;
}

footer {
  opacity:0;
  clear:both;
  animation:load-in 0.3s linear forwards 1s;
}

footer div {
  display:inline-block;
  vertical-align: top;
  width:50%;
}

.sketch {
  margin:0.5em 1em;
}

blockquote {
  font-size:1.1em;
  font-style:italic;
  padding-left:2em;
  color:#777;
  font-family:'Pontano Sans', Arial, Helvetica, sans-serif;
}

#profile {
  max-width:70%;
  margin-top:1em;
  padding:0em 3em;
  float:right;
}

#misc {
  margin-top:3em;
  margin-bottom:4em;
}

#profile ul {
  margin-left:1em;
  list-style:none;
  margin:0;
  margin-top:0.5em;
  margin-bottom:2em;
}

#profile ul li:before {
  content:"■";
  font-size:0.5em;
  color: #000;
  margin-right:1em;
  vertical-align:top;
}

#profile li {
  padding:0.5em 0em;
  border-top:1px solid #ccc;
}

#content {
  position:relative;
  width:100%;
}

.dot {
  width:4px;
  height:4px;
  margin-right:1em;
  background:black;
  display:inline-block;
  vertical-align:middle;
}

a:not(header a) {
  text-decoration:underline;
}

.tags, #ascii {
  font-family:"Anonymous Pro", Courier New, Courier, monospace;
}


#ascii {
  margin:0em 4em;
  font-size:2vmin;
  margin-bottom:1em;
  line-height:110%;
  word-wrap:wrap;
  white-space:pre;
}


#banner {
  padding:1em 3em;
  margin-bottom:2em;
  line-height:110%;
}

@keyframes load-in {
  0% {
    opacity:0;
    transform:translateY(0.5em);
  }

  100% {
    opacity:1;
    transform:translateY(0);
  }
  
}

@media screen and (max-width: 992px) { 
  #nav-mob {
    display:inline-block;
  }

  #nav-reg, footer {
    display:none;
  }

  #banner {
    padding:1em;
  }

  #ascii {
    margin:0 2em;
    font-size:2.65vmin;
  }

  #profile {
    max-width:100%;
    width:100%;
    min-width:100%;
    padding:0em 1em;
  }
}

@media screen and (max-width: 280px) { 
  #nav-mob {
    display:block;
  }

  header div {
    width:100%;
  }
}